[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
xlsxwriter = "*"
numpy = "==1.14.5"
gooey = "*"

[dev-packages]
neovim = "*"
xlrd = "*"
yapf = "*"
"flake8" = "*"

[requires]
python_version = "3.6"
