[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
xlsxwriter = "*"
numpy = "==1.14.5"
gooey = "*"
xlrd = "*"

[dev-packages]
"flake8" = "*"
mypy = "*"
pyinstaller = "*"
black = "*"

[requires]
